#modal{
    display: none;
}

@media screen and (max-width: 1010px) {
    
}

@media screen and (max-width: 991px) {
    .header{

        &__nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            padding: 0 20px;
        }

        &__top{
            &--cart{
                display: none;
            }
        }

        &--brand{
            display: none;
        }

        &__mobile{
            &--logo, &--cart{
                display: block;
                margin: 0;    
            }
            &--cart{
                font-size: 25px;
            }
        }
        
        
        &__main-nav{
            width: 100%;
            display: flex;
            flex-direction: column;

            &--toggle{
                display: block;
                border: none;
                font-size: 23px;
                cursor: pointer;
            }

            &--carret{
                display: block;
                float: right;
                font-size: 25px;
                margin-top: -5px;
            }
        }

        &__nav-bar{
            height: 0;
            overflow: hidden;
            transition: all 0.4s ease-in-out;

            ul{
                width: 100%;
                display: block;
                padding: 0 20px;

                li{
                    border-bottom: 2px solid #33A0FF;
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            &--show{
                height: 234px;
            }
        }

        &__mega-menu{
            &--show{
                display: block;
            }
        }
    }
}