.main{
    &__product{
        &--image{
            position: relative;
            display: flex;
            flex-direction: column;

            &--big{
                width: 370px
            }
        }

        &--info{
            position: relative;
            display: flex;
            width: 872px;
            max-width: 100%;
        }

        &--thumbnail{
            position: relative;
            display: flex;
            justify-content: space-between;

            img{
                width: 85px;
                height: 85px;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}