@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('font/ProximaNova-Regular.woff2') format('woff2'),
        url('font/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova Rg;
    font-size: 14px;
    line-height: 22px;
}

a{
    text-decoration: none;
    color: #000;
}

.wrapper {
    width: 1170px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.header {
    width: 100%;

    &__top {
        display: flex;
        padding: 10px 0 20px 0;

        span {
            margin: 10px;
        }

        &--user-profile {
            margin-left: auto;
            font-weight: bold;
        }

        div {
            padding: 10px;
        }

        &--cart {
            span {
                opacity: 50%;
            }
        }
    }

    &--brand {
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 61px;

        h1 {
            font-size: 32px;
        }

        span {
            color: #FD2E2E;
        }
    }

    &__nav {
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 37px;

        ul {
            margin: 0 auto;
            list-style-type: none;
            padding: 0;
            display: inline-flex;
            width: fit-content;
        }

        li {
            padding: 10px 30px;
            text-decoration: none;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
            }

            a:active {
                text-decoration: none;
                color: #33A0FF;
            }

            .active {
                color: #33A0FF;
            }

        }
    }
}

.banner{
    background: rgb(235,77,117);
    background: linear-gradient(62deg, rgba(235,77,117,1) 0%, rgba(195,87,176,1) 45%, rgba(158,97,232,1) 100%);
    position: relative;

    &__wrapper{
        &--flex{
            flex-wrap: wrap;
            height: 650px;
        }
    }

    &__content{
        color: #fff;
        width: 330px;
        padding: 167px 0 0 70px;
    }

    &__product{
        font-size: 36px;
        font-weight: bold;
    }

    &__description{
        margin: 50px 0;
    }

    &__image{
        position: absolute;
        bottom: 0;
        right: 68px;
    }

    &__button{
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        padding: 10px 0;
        border-bottom: 2px solid #fff;
    }

    &__icon{
        position: absolute;
        top: 263.1px;
        font-size: 30px;

        &--left{
            left: -20px;
        }
        &--right{
            right: -20px;
        }
    }
}

.bottom1{
    &__header{
        text-align: center;
        margin-bottom: 37px;
        h2{
            font-size: 30px;
            text-transform: uppercase;
        }

    }
    &__nav{
        position: relative;
        align-items: center;
        width: 464px;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        margin-top: 31px;
        ul{
            display: flex;
        }
    }

    &__menu{
        list-style-type: none;
        flex: 1 1 auto;
        a{
            padding: 8px 0;
        }

        &--active, &:hover{
            a{
                color: #33A0FF;
                border-bottom: 3px solid #33A0FF;
            }
        }
    }

    &__products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card{
        text-align: center;
        margin-bottom: 30px;
        cursor: pointer;
        position: relative;

        &::before, &::after{
            position: absolute;
            font-family: "Font Awesome 5 Free"; 
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            top: 20%;
        }
        &::before{
            content: '\f004';
        }
        &::after{
            content: "\f07a";
        }
        
        &:hover{
            
        }

        &__image{
            margin-bottom: 48px;
        }
        &__title{
            margin-bottom: 30px;
        }
        &__star{
            color: #FFC600;
            &:last-of-type{
                color: #C1C8CE;
            }
        }
        &__footer{
            font-size: 16px;
            margin-top: 12.35px;
        }
        &__price{
            color: #FF4858;
            padding: 0 13px;
            &:last-of-type{
                color: #C1C8CE;
                text-decoration: line-through;
            }
        }
    }

}