@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('font/ProximaNova-Regular.woff2') format('woff2'),
        url('font/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova Rg;
    font-size: 14px;
    line-height: 22px;
}

.wrapper {
    width: 1170px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.header {
    width: 100%;

    &__top {
        display: flex;
        padding: 10px 0 20px 0;

        span {
            margin: 10px;
        }

        &--user-profile {
            margin-left: auto;
            font-weight: bold;
        }

        div {
            padding: 10px;
        }

        &--cart {
            span {
                opacity: 50%;
            }
        }
    }

    &--brand {
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 61px;

        h1 {
            font-size: 32px;
        }

        span {
            color: #FD2E2E;
        }
    }

    &__nav {
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 37px;

        ul {
            margin: 0 auto;
            list-style-type: none;
            padding: 0;
            display: inline-flex;
            width: fit-content;
        }

        li {
            padding: 10px 30px;
            text-decoration: none;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
            }

            a:active {
                text-decoration: none;
                color: #33A0FF;
            }

            .active {
                color: #33A0FF;
            }

        }
    }
}