@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("font/ProximaNova-Regular.woff2") format("woff2"), url("font/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Proxima Nova Rg;
  font-size: 14px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  width: 1170px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 20px 0;
}

.header__top span {
  margin: 10px;
}

.header__top--user-profile {
  margin-left: auto;
  font-weight: bold;
}

.header__top div {
  padding: 10px;
}

.header__top--cart span {
  opacity: 50%;
}

.header--brand {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 61px;
}

.header--brand h1 {
  font-size: 32px;
}

.header--brand span {
  color: #FD2E2E;
}

.header__nav {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 37px;
}

.header__nav ul {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__nav li {
  padding: 10px 30px;
  text-decoration: none;
}

.header__nav li a {
  text-decoration: none;
}

.header__nav li a:hover {
  text-decoration: none;
}

.header__nav li a:active {
  text-decoration: none;
  color: #33A0FF;
}

.header__nav li .active {
  color: #33A0FF;
}

.banner {
  background: #eb4d75;
  background: linear-gradient(62deg, #eb4d75 0%, #c357b0 45%, #9e61e8 100%);
  position: relative;
}

.banner__wrapper--flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 650px;
}

.banner__content {
  color: #fff;
  width: 330px;
  padding: 167px 0 0 70px;
}

.banner__product {
  font-size: 36px;
  font-weight: bold;
}

.banner__description {
  margin: 50px 0;
}

.banner__image {
  position: absolute;
  bottom: 0;
  right: 68px;
}

.banner__button {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  border-bottom: 2px solid #fff;
}

.banner__icon {
  position: absolute;
  top: 263.1px;
  font-size: 30px;
}

.banner__icon--left {
  left: -20px;
}

.banner__icon--right {
  right: -20px;
}

.bottom1__header {
  text-align: center;
  margin-bottom: 37px;
}

.bottom1__header h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.bottom1__nav {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 464px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 31px;
}

.bottom1__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom1__menu {
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.bottom1__menu a {
  padding: 8px 0;
}

.bottom1__menu--active a, .bottom1__menu:hover a {
  color: #33A0FF;
  border-bottom: 3px solid #33A0FF;
}

.bottom1__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom1__card {
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}

.bottom1__card::before, .bottom1__card::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  top: 20%;
}

.bottom1__card::before {
  content: '\f004';
}

.bottom1__card::after {
  content: "\f07a";
}

.bottom1__card__image {
  margin-bottom: 48px;
}

.bottom1__card__title {
  margin-bottom: 30px;
}

.bottom1__card__star {
  color: #FFC600;
}

.bottom1__card__star:last-of-type {
  color: #C1C8CE;
}

.bottom1__card__footer {
  font-size: 16px;
  margin-top: 12.35px;
}

.bottom1__card__price {
  color: #FF4858;
  padding: 0 13px;
}

.bottom1__card__price:last-of-type {
  color: #C1C8CE;
  text-decoration: line-through;
}
/*# sourceMappingURL=style.css.map */